body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
}

h2 {
    margin: 10px;
    font-size: 18px;
    color: #333;
}

#controles {
    margin: 10px;
}

label, input, button {
    font-size: 16px;
    margin: 5px;
}

canvas {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100% - 120px);
    background-color: #fff;
    touch-action: none; /* Muy importante: permite capturar los toques */
}
