body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: #333;
}

label, input, button {
    margin: 8px;
    font-size: 16px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    touch-action: none; /* <- Esto evita que el scroll bloquee el dibujo */
}

