body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    touch-action: none;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}

#controles {
    margin-bottom: 10px;
}

label, input, button {
    margin: 5px;
    font-size: 16px;
}

canvas {
    position: absolute;
    top: 120px; /* Para que el canvas empiece debajo de los botones */
    left: 0;
    width: 100%;
    height: calc(100% - 120px);
    background: #fff;
}
